*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100vw;
    /* padding: 0 15rem; */
}
.icons .fa{
    /* width: max-content; */
    /* padding: 3px 6px; */
    border-radius: 50%;
    background-color: white;
    color: grey;
}
#currency .fa {
    padding: 5px;
    font-size: small;
}
.head{
    display: flex;
    width: 100%;
    padding: 6px 15rem;
    justify-content: space-between;
    border: 0.3px solid grey;
    color: grey;
}
.head2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.2rem 15rem;
    border: 0.5px solid grey;
    border-top: none;
}
.head2 h1{
    color: rgb(107, 161, 19);
    font-size: 2.5rem;
    font-family: 'Fasthand', cursive;
    font-family: 'Lobster', cursive;
}
#searchbar{
    border: 0.3px solid grey;
    padding: 0.5rem 1rem;
    min-width: 30rem;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}
#searchbar .fa{
    color: grey;
    padding-top: 0.5rem;
}
.head2 input{
    border: none;
}
.user{
    font-size: 2rem;
}
.user .fa{
    padding: 0.5rem;
    color: grey;
}
main{
    padding: 0 15rem;
    max-width: 100%;
}
nav{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.banner h2{
    color: rgb(107, 161, 19);
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Fasthand', cursive;
    font-family: 'Lobster', cursive;
}
.banner h1{
    max-width: 25rem;
}
.banner h3{
    color: grey;
}
.banner span{
    font-size: 1.5rem;
}
.banner button{
    padding: .5rem 1rem;
    background-color: rgb(107, 161, 19);
    border: none;
    color: whitesmoke;
    border-radius: 8px;
    font-weight: 600;
    margin-top: .5rem;
    cursor: pointer;
}
.box{
    min-height: fit-content;
}
.banner{
    position: relative;
    max-width: 100%;
}
.banner .text{
    position: absolute;
    z-index: 1;
    padding: 8rem;
}
.banner img{
    max-width: 100%;
}
.options{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 4rem;
}
.choice {
    max-width: 24%;
    display: flex;
    border: .2px solid lightgray;
    padding: .7rem;
    border-radius: 6px;
    margin: .5rem auto;
    box-sizing: border-box;
}
.left{
    display: flex;
    justify-content: space-between;
}
.pic{
    max-width: 40%;
    border: .2px solid lightgrey;
    padding: .2rem;
    padding-right: 0;
    background-color: lightgrey;
}
.pic img{
    width: 100%;
}
.shop{
    padding-left: 0.2rem;
}
.shop h3{
    font-size: .9rem;
}
.shop h5 a{
    text-decoration: none;
    color: rgb(107, 161, 19);
}
.right{
    color: grey;
}
.mid-sec{
    padding: 0 15rem;
    width: 100%;
    display: flex;
    height: max-content;
    margin-bottom: 2rem;
    
}
.sidebar{
    position: sticky;
    top: 0;
    max-width: 24%;
    min-width: 24%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    height: max-content;

}
.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item .logo{
    display: flex;
    justify-content: space-between;
    min-width: 33%;
    max-width: 38%;
    padding: .3rem;
}
.item img{
    max-width: 25%;
}
.item .plus{
    padding: .3rem;
    font-size: small;
    font-weight: 100;
    color: gray;
}
.heading3{
    font-size: 1rem;
    padding: 1rem;
}
.item .perfume{
    /* max-width: 45%; */
    min-width: 35%;
}
.item .cosmetics{
    min-width: 39%;
}
.item .bags{
    min-width: 27%;
}
.checked{
    color: orange;
}
.item2{
    min-width: 100%;
    display: flex;
    padding: .4rem;
}
.image{
    max-width: 20%;
}
.image img{
    max-width: 100%;
}
.shop p span{
    text-decoration: line-through;
}

.content{
    min-width: 74%;
    max-width: 75%;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}
.catalog{
    min-width: 33%;
    padding: .5rem;
}
.catalog h3{
    border-bottom: .1px solid lightgray;
    padding-bottom: .5rem;
    max-height: min-content;
}
.products{
    border: .1px solid lightgray;
    border-radius: 6px;
    display: flex;
    max-width: 32%; 
    justify-content: space-between;
    max-height: max-content;
    padding: .2rem .4rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.products .inner_pic{
    max-width: 30%;
}
.inner_pic img{
    max-width: 100%;
}
.products p span{
    color: rgb(107, 161, 19);
    font-weight: 600;
}
.text h4{
    font-size: .9rem;
    /* line-height: 2rem; */
}
.deal{
    border-bottom: .1px solid lightgray;
    min-width: 100%;
    padding: .3rem;
    margin: 2rem 0;
}
.shampoo{
    min-width: 100%;
    max-height: max-content;
    border: .1px solid lightgray;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    line-height: 2rem;
}
.sham_pic{
    max-width: 50%;
}
.sham_pic img{
    max-width: 100%;
}
#price{
    color: rgb(107, 161, 19) ;
    font-size: 1.7rem;
}
#price span{
    text-decoration: line-through;
    color: grey;
    font-size: 1.3rem;
}
.desc p{
    font-size: .8rem;
}
.desc button{
    background-color: rgb(107, 161, 19) ;
    color: whitesmoke;
    padding: .7rem 1.4rem;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.value{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
}
.mtr{
    min-width: 100%;
}
.time{
    display: flex;
    min-width: 100%;
    justify-content:flex-start;
}
.offer{
    width: 15%;
    background-color: lightgray;
    padding: .3rem;
    align-items: flex-start;
    text-align: center;
    border-radius: 6px;
    margin-right: 1rem;
    line-height: 1.3rem;
}
.new_prod{
    padding: 1rem;
    padding-top: 3rem;
    border-bottom: .1px solid lightgray;
    min-width: 100%;
}
.box2{
    max-width: 100%;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    padding-bottom: 2rem;
}
.clothes{
    max-width: 22%;
    border: .1px solid lightgray;
    padding: .5rem;
    margin: 2rem auto;
    line-height: 1.6rem;
}
.clothes .pic1{
    min-width: 40%;
    align-self: center;
}
.clothes .pic1 img{
    max-width: 100%;
}
.detail p span{
    text-decoration: line-through;
}
.detail h5{
    color: yellowgreen;
    text-align: center;
}
.testimonial{
    max-width: 100%;
    padding: 0 15rem;
    display: flex;
    padding-bottom: 2rem;
}
.article{
    max-width: 24%;
    min-width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.3rem;
}
.heading5{
    max-width: 100%;
    padding-bottom: 1rem ;
    font-size: 1.5rem;
    border-bottom: .1px solid lightgray;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
}
.desc2{
    max-width: 100%;
    border: .1px solid lightgray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc2 img{
    max-width: 50%;
    border-radius: 50%;
}
#name{
    padding: 1rem;
    text-align: center;
}
#name h6{
    padding: .5rem;
    font-weight: 600;
    color: gray;
    font-size: .7rem;
}
#quotes{
    max-width: 12%;
    padding-bottom: 1rem;
}
.desc2 p{
    padding: 1rem;
    text-align: center;
}
.offer2{
    min-width: 44%;
    max-width: 45%;
    border: .2px solid lightgray;
    max-height: 100%;
    background-image: url(../images/cta-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
   background-color: whitesmoke;
   opacity: .7;
   min-width: 50%;
   min-height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}