*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100vw;
    /* padding: 0 15rem; */
}
.icons .fa{
    /* width: max-content; */
    /* padding: 3px 6px; */
    border-radius: 50%;
    background-color: white;
    color: grey;
}
#currency .fa {
    padding: 5px;
    font-size: small;
}
.head{
    display: flex;
    width: 100%;
    padding: 6px 15rem;
    justify-content: space-between;
    border: 0.3px solid grey;
    color: grey;
}
.head2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.2rem 15rem;
    border: 0.5px solid grey;
    border-top: none;
}
.head2 h1{
    color: rgb(107, 161, 19);
    font-size: 2.5rem;
    font-family: 'Fasthand', cursive;
    font-family: 'Lobster', cursive;
}
#searchbar{
    border: 0.3px solid grey;
    padding: 0.5rem 1rem;
    min-width: 30rem;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}
#searchbar .fa{
    color: grey;
    padding-top: 0.5rem;
}
.head2 input{
    border: none;
}
.user{
    font-size: 2rem;
}
.user .fa{
    padding: 0.5rem;
    color: grey;
}
main{
    padding: 0 15rem;
    max-width: 100%;
}
nav{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.banner h2{
    color: rgb(107, 161, 19);
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Fasthand', cursive;
    font-family: 'Lobster', cursive;
}
.banner h1{
    max-width: 25rem;
}
.banner h3{
    color: grey;
}
.banner span{
    font-size: 1.5rem;
}
.banner button{
    padding: .5rem 1rem;
    background-color: rgb(107, 161, 19);
    border: none;
    color: whitesmoke;
    border-radius: 8px;
    font-weight: 600;
    margin-top: .5rem;
    cursor: pointer;
}
.box{
    min-height: fit-content;
}
.banner{
    position: relative;
    max-width: 100%;
}
.banner .text{
    position: absolute;
    z-index: 1;
    padding: 8rem;
}
.banner img{
    max-width: 100%;
}
.options{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.choice {
    min-width: 25%;
    max-width: 30%;
    display: flex;
    border: .2px solid lightgray;
    padding: .2rem;
    border-radius: 6px;
    margin: .5rem auto;
}
.left{
    display: flex;
}
.pic{
    max-width: 50%;
    border: .2px solid lightgrey;
    padding: .5rem;
    padding-right: 0;
    background-color: lightgrey;
    text-align: center;
}
.pic img{
    width: 100%;
}
.shop{
    padding-left: 0.2rem;
}
.shop h3{
    font-size: .9rem;
}
.shop h5 a{
    text-decoration: none;
    color: rgb(107, 161, 19);
}
.right{
    color: grey;
}
.mid-sec{
    padding: 0 15rem;
    width: 100%;
    display: flex;
    height: max-content;
    
}
.sidebar{
    position: sticky;
    top: 0;
    max-width: 24%;
    min-width: 24%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;

}
.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item .logo{
    display: flex;
    justify-content: space-between;
    min-width: 33%;
    max-width: 38%;
    padding: .3rem;
}
.item img{
    max-width: 25%;
}
.item .plus{
    padding: .3rem;
    font-size: small;
    font-weight: 100;
    color: gray;
}
.heading3{
    font-size: 1rem;
    padding: 1rem;
}
.item .perfume{
    /* max-width: 45%; */
    min-width: 35%;
}
.item .cosmetics{
    min-width: 39%;
}
.item .bags{
    min-width: 27%;
}
.checked{
    color: orange;
}
.item2{
    min-width: 100%;
    display: flex;
    padding: .4rem;
}
.image{
    max-width: 20%;
}
.image img{
    max-width: 100%;
}
.shop p span{
    text-decoration: line-through;
}
.content .choice{
    max-width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
}



